### Pandas - DataFrame

In [2]:
import numpy as np
import pandas as pd

In [7]:
data= {
    '국어':[80,90,70,30],
    '영어':[90,70,60,40],
    '수학':[90,60,80,70]
}
df = pd.DataFrame(data)
df

   국어  영어  수학
0  80  90  90
1  90  70  60
2  70  60  80
3  30  40  70

In [8]:
df.index = ['춘향','몽룡','향단','방자']
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [15]:
np.random.seed(2022)
df2 = pd.DataFrame(np.random.randit(40,101,12).reshape(4,3),
                   columns=['국어','영어','수학'],
                   index = ['춘향','몽룡','향단','방자'])
df2

AttributeError: module 'numpy.random' has no attribute 'randit'

- 반복문을 써서 만드는 경우

In [13]:
kor,eng,mat =[],[],[]
for i in range(4):
    kor.append(np.random.randint(40,101))
    eng.append(np.random.randint(40,101))
    mat.append(np.random.randint(40,101))
kor

In [14]:
pd.DataFrame({'국어':kor,'영어':eng,'수학':mat})

ValueError: All arrays must be of the same length

In [16]:
line = []
for i in range(4):
    d ={'국어':np.random.randint(40,101),
        '영어':np.random.randint(40,101),
        '수학':np.random.randint(40,101)}
    line.append(d)
line

[{'국어': 68, '영어': 85, '수학': 88},
 {'국어': 89, '영어': 89, '수학': 88},
 {'국어': 95, '영어': 64, '수학': 58},
 {'국어': 64, '영어': 56, '수학': 93}]

In [17]:
pd.DataFrame(line)

   국어  영어  수학
0  68  85  88
1  89  89  88
2  95  64  58
3  64  56  93

### 2. 데이터프레임 인덱싱

In [18]:
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [20]:
# 인덱싱 순서 - 열 인덱스, 행 인덱스 순
# 시리즈를 먼저 선택하고, 인덱스를 선택
df['영어']['몽룡']

70

In [21]:
df['국어']   # 시리즈

춘향    80
몽룡    90
향단    70
방자    30
Name: 국어, dtype: int64

In [22]:
df.국어

춘향    80
몽룡    90
향단    70
방자    30
Name: 국어, dtype: int64

In [24]:
#인덱싱 순서 - 열 인덱스,행 인덱스 순
#시리즈를 먼저 선택하고,인덱스를 선택
df['영어']['몽룡']

70

In [25]:
df['영어'][1]

70

In [26]:
df['영어']['몽룡'],df['영어'][1],df.영어[1],df.영어.몽룡

(70, 70, 70, 70)

- 슬라이스

In [27]:
df['국어'][:2]

춘향    80
몽룡    90
Name: 국어, dtype: int64

In [28]:
# 슬라이싱을 할 때 인덱스 값으로 문자열을 주면 숫자와는 다르게 동작함
df['국어'][:'몽룡']

춘향    80
몽룡    90
Name: 국어, dtype: int64

- 결과를 데이터프레임으로

In [29]:
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [30]:
df[['국어','영어']]

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40

In [31]:
df['국어']

춘향    80
몽룡    90
향단    70
방자    30
Name: 국어, dtype: int64

In [32]:
df[['국어']]

    국어
춘향  80
몽룡  90
향단  70
방자  30

In [33]:
df[['국어']][:2]

    국어
춘향  80
몽룡  90

- loc 인덱서[행인데스,열인덱스]

In [35]:
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [38]:
df.loc['몽룡','영어'],df.loc['몽룡']['영어'],df.loc['몽룡'][1],df.loc['몽룡'].영어

(70, 70, 70, 70)

- iloc 인덱서 :[행숫자 인덱스,열숫자 인덱스]

In [42]:
df.iloc[1,1],df.iloc[1][1],['영어'],df.iloc[1].영어

(70, 70, ['영어'], 70)

In [44]:
df.iloc[:2,1:]

    영어  수학
춘향  90  90
몽룡  70  60

In [55]:
df['수학']['방자']

70

In [58]:
df['수학'][-1:]

방자    70
Name: 수학, dtype: int64

In [59]:
df.iloc[3,2]

70

In [60]:
df.iloc[3]

국어    30
영어    40
수학    70
Name: 방자, dtype: int64

In [61]:
df.iloc[3].수학

70